<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="/css//bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    {{template "header"}}
</head>
{{template "headernav"}}
<body>
    <div class="pagetitle">
        <h1>{{.Name}} - {{.Desc}}</h1>
        <form method="POST" action="/region">
            <div>
                <label>Places:</label>
                <select id="kz" name="sou" onchange='if(this.value != 0) { this.form.submit(); }'>
                    <option value="" selected disabled hidden>{{.Name}}</option>
                    <option value="tt">Test</option>
                    <option value="ec">ECOU</option>
                    <option value="gt">GOU</option>
                    <option value="mp">MPOU</option>
                    <option value="kz">KZOU</option>
                    <option value="wc">WCOU</option>
                </select>
            </div>
            <div class="selects"> 
                <label for="Mess"> 
                    <input type="checkbox" name="shOptions" value="SM" onchange='if(this.value != 0) { this.form.submit(); }'> Show Messages
                </label> 
                <label for="Audit"> 
                    <input type="checkbox" name="shOptions" value="SA"> Show audit  
                </label> 
                <input type="submit">
            </div>
            
            
        </form>
    </div> 
    <div class = "bodydata">
        <h2>{{.Mc}} messages received in last hour</h2>    
    </div>
    
    
    <div class = "messitem">
        <table style="width:60%">
            <tr style="text-align:left">
                <th>Receive Time</th>
                <th>Message</th>
                <th>DT</th>
            </tr>
            {{range .Mess}}
            <tr>
                <td style = "font-size:12px">{{.Rt}}</td>
                <td style = "font-size:12px">{{.Message}}</td>
                <td style = "font-size:12px">{{.DT}}</td>
            </tr>
            {{end}}
        </table>        
    </div>
    

    
    
</body>
</html>